<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>Automatic Generation - main.html</title>
  <meta content="no-cache" http-equiv="pragma">
  <meta content="no-cache" http-equiv="cache-control">
  <meta content="0" http-equiv="expires">
  <style type="text/css">
      div.topBar {
          width: 100%;
          height: 23px;
          background: #4BA9E3FF;
      }

      td.topTitle {
          color: #004E73;
          white-space: nowrap;
          font-size: 10pt;
          font-weight: bold;
      }

      table.editGrid {
          width: 100%;
          padding: 1px;
          font-size: 10pt;
          border: 1px solid #999;
          border-collapse: collapse;
      }

      tr.editGridHd {
          background: #d9d9d9 repeat-x center;
          text-align: center;
          height: 24px;
      }

      tr.editGrid {
          background: #ffffff repeat-x center;
          height: 24px;
      }

      td.editGridHd {
          border: 1px solid #999;
          font-size: 10pt;
          padding: 2px;
          FONT-WEIGHT: bold;
      }

      td.editGrid {
          border: 1px solid #999;
          font-size: 10pt;
          padding: 2px;
          background: #f7f7f7 repeat-x center;
      }

      .highLightNormal {
          font-size: 10pt;
          color: #000000;
          background: #f7f7f7 repeat-x center;
      }

      tr.repCnd {
          height: 20px;
      }

      td.repCndLb {
          border: 1px solid #999;
          padding: 1px 2px 1px 2px;
          white-space: nowrap;
          background: #f7f7f7 repeat-x center;
          color: #000;
          text-align: right;
      }

      td.repCndEditRight {
          border: 1px solid #999;
          padding: 1px 3px;
          white-space: nowrap;
          background: #f7f7f7 repeat-x center;
          width: 100%;
      }

      .bgDark {
          background-color: #ffffff;
      }

      .bgDarker {
          background-color: #0871AE;
      }

      .bgLight {
          background-color: #d9d9d9;
      }

      .bgLighter {
          background-color: #d9d9d9;
      }

      .normalFont {
          background: #f7f7f7;
          font-size: 10pt;
          font-family: arial, 宋体, verdana, helvetica;
          line-height: 130%;
      }

      tr.editGridHd {
          background: #d9d9d9 repeat-x center;
          text-align: center;
          height: 24px;
      }

      td.editGridHd {
          border: 1px solid #999;
          font-size: 10pt;
          padding: 2px;
          FONT-WEIGHT: bold;
      }
  </style>
</head>
<body>
<div class="topBar">
  <table border="0" cellpadding="0" cellspacing="0" height="100%">
    <tr>
      <td class="topTitle">&nbsp;&nbsp;Auto Generate - main.html </td>
    </tr>
  </table>
</div>
<form id="mainform">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr height="5">
      <td nowrap="nowrap" width="15">&nbsp;</td>
      <td width="100%">&nbsp;</td>
      <td nowrap="nowrap" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <table class="editGrid">
          <tr height="30">
            <td class="highLightNormal" colspan="4" nowrap="nowrap"
                width="15%">&nbsp; Query Conditions:
            </td>
          </tr>
          #QUERYCONDITION#
          <tr class="bgLight" height="30">
            <td align="right" class="normalFont" colspan="4">
              <input type="button" accesskey="s" value="Query(s)" onclick="jabQuery()"> &nbsp;
              <input type="reset" accesskey="c" value="Reset(c)">
              <input type="button" accesskey="n"  name="init" value="New(n)" onclick="jabNew()">&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="editGrid" width="100%">
          <tr height="30">
            <td class="highLightNormal" colspan="3" nowrap="nowrap">
              &nbsp; Query Results:
            </td>
          </tr>
          <tr>
            <td width="5">&nbsp;</td>
            <td id="tagsContainer" width="100%">
              <div>
                <table class="editGrid" id="sortTbl" width="100%">
                  <!-- query result title -->
                  <tr class="editGridHd">
                    #GRIDHEAD#
                  </tr>
                  <tr class="editGrid" type="data" id="tdata">
                  </tr>
                </table>
              </div>
            </td>
            <td width="5">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<script type="text/javascript">
  function jabQuery(){
        //删除所有查询结果数据
        let tdateRow = document.getElementsByName("tdata");
        let rowCount = tdateRow.length;
        while (rowCount>0) {
            let tr = tdateRow[0];
            if(tr){
                tr.remove();
            }
            rowCount = tdateRow.length;
        }
      //重新创建一个锚点，用于加载查询数据集
      let ctr =  document.createElement("tr");
      ctr.setAttribute("id","tdata");
      ctr.setAttribute("name","tdata");
      document.getElementById("sortTbl").appendChild(ctr);
    //获取form对象
    let form = document.getElementById('mainform');
    //动态action请求url地址
    let requestUrl =  getContextPath()+"#NAMESPACE#/action";
    //请求参数
    let parameters = '#REQUSTPARAMETERS#';
    let xmlHttpRequest = sendAjaxRequest(requestUrl,parameters);
    xmlHttpRequest.onreadystatechange = ()=>{
      if(xmlHttpRequest.readyState === 4){
        if(xmlHttpRequest.status >= 200 && xmlHttpRequest.status < 300){
          let string = xmlHttpRequest.responseText;
          const data = JSON.parse(string);
          let count = data.length;
          let trHtml="";
          for (let i = 0; i < count; i++) {
            trHtml +="<tr  class=\"editGrid\" nowrap=\"nowrap\"   name=\"tdata\" id=\"tdata\">";
            #GRIDDATA#
           // trHtml+="<td class='editGrid'  align='left'><a href='#NAMESPACE#/edit?#UPDATESTR#'>Edit</a> &nbsp;&nbsp; <a href='#NAMESPACE#/delete?#UPDATESTR#'>Delete</a></td>";
            trHtml +="</tr>";
          }
          document.getElementById("tdata").outerHTML = trHtml;


        } else if(xmlHttpRequest.status >= 400){
          alert('the request has failed. please try again later. error info:['+xmlHttpRequest.responseText+']');
        }
      }
    }

  }
    function getContextPath(){
        return document.location.pathname.substring(0,document.location.pathname.indexOf("/",1));
    }
    function sendAjaxRequest(url,args){
            let xmlHttpRequest;
            if (window.XMLHttpRequest) {
                xmlHttpRequest = new XMLHttpRequest();
            } else {
                xmlHttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }
            //发送Post请求
            xmlHttpRequest.open('POST',url);
            xmlHttpRequest.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlHttpRequest.send(args);
            return xmlHttpRequest;
    }
    function jabEdit(args){
        let url =  getContextPath()+"#NAMESPACE#/update.html?"+args;
        window.open(url,"_blank");
    }
     function jabNew(){
        let url =  getContextPath()+"#NAMESPACE#/new.html";
        window.open(url,"_blank");
     }
    function jabDel(args){
        //动态action请求url地址
        let requestUrl =  getContextPath()+"#NAMESPACE#/action";
        let parameters = '#DELETEPARAMETERS#&'+args;
        let xmlHttpRequest = sendAjaxRequest(requestUrl,parameters);
        xmlHttpRequest.onreadystatechange = ()=>{
          if(xmlHttpRequest.readyState === 4){
            if(xmlHttpRequest.status >= 200 && xmlHttpRequest.status < 300){
              let string = xmlHttpRequest.responseText;
              const data = JSON.parse(string);
              //刷新数据
              jabQuery();
            } else if(xmlHttpRequest.status >= 400){
              alert('the request has failed. please try again later. error info:['+xmlHttpRequest.responseText+']');
            }
          }
       }
    }
</script>
</body>
</html>